@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');
@import url('https://fonts.googleapis.com/css?family=Passion+One');
@import url('https://fonts.googleapis.com/css?family=Audiowide');



*{
    font-family:Calibri, "Californian FB", serif;
}


.recette h1{
    margin-top : 150px;
    font-size: 60px;
    font-family: 'Pacifico', cursive;
}

.game{
    margin-top:200px;
    width:700px;
    float:left;
}

.rowstart{
    margin-left:120px;
}

.row0{
    height:150px;
    width:600px;
    margin-left:50px;
}

.row1{
    height:150px;
    width:600px;
    margin-left:50px;
}

.row2{
    height:150px;
    width:600px;
    margin-left:50px;
}

.ingredients-img{
    padding:50px;
    margin:50px;
    background-repeat:no-repeat;
}

.recette{
    float:right;
    width:400px;
    margin-right:100px;
}

.caddy{
    position: absolute;
    margin-top:-150px;
}

#start {
    display:block;
    width;150px;
    Margin-top: 40px; 
    margin-right: auto; 
    margin-bottom: 0; 
    margin-left: auto;
    border-width : 2px; 
    border-color: black; 
    border-style: solid; 
    border-opacity: 0.2;
    font-size: 20px;
    background-color:yellow;
}

.lose{
    margin-top:50px;
    margin-left:100px;
    width:700px;
    float:left;
}

.lose p{
    font-size: 60px;
    color: red;
    font-family: 'Passion One', cursive;
}


.won{
    margin-top:50px;
    margin-left:100px;
    width:700px;
    float:left;
}

.won p{
    font-size: 60px;
    font-weight:bold;
    color: #fed803;
    font-family: 'Passion One', cursive;
}

.gif{
    margin-top:150px;
    margin-left:100px;
    width:10px;
    float:left;
}

#recette-name{
    color : red;
    font-weight:bold;
    font-size: 20px;
}

#ingredients-name{
    color : red;
    font-weight:bold;  
    font-size: 20px;
}

#time-minutes{
    color : red;
    font-weight:bold; 
    font-size: 20px; 
}

#time-seconds{
    color : red;
    font-weight:bold; 
    font-size: 20px; 
}

.chronometer{ 
    font-size: 30px; 
    border:black;
    font-family: 'Audiowide', cursive;
    font-weight:bold;
}